


nav.tenologiesUserInterfaceNav{
	

}
nav.tenologiesUserInterfaceNav li a{
	border-radius: 5px;
}

hr.exampleDescriptionTitleHr{
	margin-top: 2em;
	vertical-align: bottom;
}

.btnCodeExampleFullCode
{
}



section.technologiesSkillSetGraphic{
	margin-top: 20px;
}

.technologySkillSetDimondGraphicContainer{
	margin-top: 20px;
}

section.technologiesSelectionPillsSection{
	margin-top:40px;
}

section.technologiesExamplesSection{
	margin-top:40px;
}

.technologySkillSetGraphicUserInterfaceDiv{
	text-align:center;
	height:50px; /*subject to change */
	padding-top:10px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	
}

.technologySkillSetGraphicMidTierDiv{
	text-align:center;
	height:50px; /*subject to change */
	padding-top:10px;	
}

.technologySkillSetGraphicDatabaseDiv{
	text-align:center;
	height:50px; /*subject to change */
	padding-top:10px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}



.exampleAreaContainer{

}

.exampleDescrptionContainer{
	padding-left: 50px;
	
}

.exampleAreaTitleContainer h1, .exampleAreaTitleContainer h2,  .exampleAreaTitleContainer span{
	display:inline;
}

.exampleAreaTitleContainer span{
	font-size: 2em;
}
.exampleDescriptionTitleContainer{
	vertical-align: top;

}

.exampleCodeContainer{
	height:400px;
	border-radius:5px;

}

.exampleDescriptionTextFooterDiv{

	border-radius: 5px;
	width: 100%;
	height: 100px;
}
