

div.pageWrapper{
	font-size: 20px;
}

div.clearfix{
	margin-bottom: 2em;
}

nav.projectExampleTechnologyPillsNav li a{
	padding:2px;
	border-radius: 5px;
}


img.projectExampleDescriptionTitleImage{
	margin-left: .2em;
	margin-right: none;
	padding: 1.5em;
	height:200px;

}

img.projectExampleImageLaptop{
	height:450px;
	
}
img.projectExampleImageMobile{
	height:400px;
	
}


span.projectExampleDescriptionTitleImageVerticalLine{
	font-size: 5em;
}

button.btnProjectExampleOpenWebsite{
	margin-left: 1em;
	margin-bottom: 1em;

}

.projectPreviewLeftDiv{
	margin-bottom:20px;
	margin-right: 20px;
	height:200px;
	border-radius: 5px;
}
.projectPreviewRightDiv{
	height:200px;
	border-radius: 5px;
}

hr.recentProjectsTitleHr{
	margin-left: none;
}
.recentProjectsTitle{
	text-align:center;
}

.recentProjectDivContainer{
	margin-top:1em;
}

.projectExampleDescriptionTitleImageContainer{
	overflow: hidden;
}